.custom-container {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .text-danger {
    font-size: 0.875rem;
  }
  